* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

html {
    scroll-behavior: smooth;
}

/* COLORS */

.navblue {
    background:#2400FF;
}

.whitetext {
    color:white;
}

/* COLORS */

/* LINKS */

a:link,
a:visited {
    color:black;
    text-decoration: none;
}

/* LINKS */


/* MAIN WRAPPER */

    .wrapper {
        
    }

/* MAIN WRAPPER */

.boxcontainer {
    display:flex;
    height:300vh;
}

/* LEFTBOX */

.leftbox {
    display:flex;
    width:50vw;
    flex:1;
    background:grey;
    align-items:flex-start;
    justify-content:center;
}

.photobox-container {
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky;
    top:0;
    background: pink;
}

.photobox {
    background-image: url("img/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 646px;
    width:464px;
    position:relative;
}
.photobox-footer {
    position:absolute;
    left:0;
    bottom:0;
    display:flex;
    align-items:center;
    justify-content: space-between;
    background: #2400FF;
    height:3rem;
    width:100%;
    color:white;
}

.photobox-footer a {
    margin-right:1rem;
    font-size:1.5rem;
}

.photobox-footer p {
    margin-left:1rem;
}



/* LEFTBOX */


/* RIGHTBOX */
.rightbox {
    display:flex;
    width:50vw;
    align-items:flex-start;
    flex:1;
    flex-direction: column;
    }

    .nav-container {
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        height:100vh;
        background:paleturquoise;
        width:100%;
    }

    .navbar {
        display:flex;
        height:2rem;
    }
    .nav-container h1 {
        font-family: 'Anton' sans-serif;
        font-weight:700;
        font-size:5rem;
        opacity:0.5;
    }

    .nav-container .readmore {
        position:absolute;
        bottom:4rem;
    }

    .navbar ul {
        color:black;
        list-style: none;
        display:flex;
        flex-direction: row;
        align-items:center;
        justify-content: center;
    }

    .navbar ul a li {
        padding:0.1rem 0.6rem;
    }

    .navbar ul a {
        color:black;
        margin-right:2rem;
    }

    .aboutmebox {
        display:flex;
        align-items: center;
        justify-content: center;
        height:100vh;
        background:gray;
        width:100%;
        flex-direction: column;
    }

    .wtbox {
        display:flex;
        align-items: center;
        justify-content: center;
        height:100vh;
        background:lightcoral;
        width:100%;
        flex-direction: column;
    }

    .wtbox p {
        width:80%;
    }

    .readmore {
        display:flex;
        align-self: center;
        justify-content: center;
        margin-top:4rem;
        font-size:2rem;
    }

/* RIGHTBOX */

/* RESUME */
.resume-container {
    height:300vh;
    background:yellowgreen;
    width:100%;
}




/* RESUME */



.social-navi {
    display:flex;
    height:5rem;
    background:red;
    flex-direction: row;
    position:sticky;
    position:-webkit-sticky;
    top:0;
}

.gil {
    display:flex;
    margin-right:auto;
    align-items:center;
    justify-content: center;
}
.gil a {
    font-size: 2rem;
    margin:0 0.5rem 0 0.5rem;
}

.navi {
    display:flex;
    align-items:center;
    justify-content:center;
}

.navi ul {
    display:flex;
    flex-direction: row;
    list-style:none;
}
.navi ul a {
    margin-right:1rem;
}

.resumebox h2 {
    margin-left:2rem;
    margin-top:4rem;
}
.resumebox h1 {
    margin-top:2rem;
    margin-left:2rem;
    font-weight:700;
}
.resumebox .userstories {
    margin-left:2rem;
}
.userstories {
    margin-top:1rem;
    line-height:1.5;
    font-size:22px;
}

.bold {
    font-weight:700;
}

/* RESUME */