* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

body {
    display:flex;
    width:100%;
    background:yellow;
    flex-direction: row-reverse;
}

.header {
    display:flex;
    height:100vh;
    width:100%;
    align-items:center;
    justify-content: center;
    background:lightgray;
}

.navbar {
    display:flex;
    align-items: center;
    justify-content: center;
}
.navbar ul {
    display:flex;
    flex-direction:row;
    list-style: none;
}

.navbar ul a {
    /*border:1px solid black;*/
    margin:1rem;
}
.navbar ul a li {
    padding:5px 10px;
}

.navblue {
    background: #2400FF;
    color:white;
}

a:link,
a:visited {
    color:black;
    text-decoration: none;
}

.main {
    display:flex;
    width:50%;
    height:100vh;
    background:white;
    align-items: center;
    justify-content: center;
    position:fixed;
    left:0;
    top:0;
}

.photobox {
    height:695.65px;
    width:500px;
    background-image: url(/img/2.jpg);
    background-size: cover;
    background-position: center center;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    color:white;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
}

.photobox-footer {
    height:3.5rem;
    width:100%;
    background:#2400FF;
    position: absolute;
    bottom:0;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
}
.photobox-footer a {
    color:white;
}

.photobox-footer p:first-child {
    margin-left:1rem;
    font-size:16px;
}
.photobox-footer p:last-child {
    margin-right:1rem;
    font-size:32px;
}

.contentbox {
    display:flex;
    width:50%;
    height:400vh;
    background:white;
    align-items: center;
    justify-content: center;
    overflow:auto;
    flex-direction: column;
}

.aboutmebox {
    height:100vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;

}

.aboutmebox p {
    margin-top:2rem;
    line-height: 20px;
    align-self:flex-start;
}

.readmore {
    padding-top:4rem;
    display:flex;
    align-self:flex-end;
    justify-content: center;
    margin-right:5rem;
}
.readmore a {
    color:white;
    padding:2px 13px;
}

.semibold {
    font-weight:700;
}

.regular {
    font-weight: 400;
}

.wtbox {
    height:100vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.wtbox p {
    margin-top:2rem;
    line-height: 20px;
    align-self:flex-start;
}

.resbox {
    height:100vh;
    width:100%;
}